

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: black;
}

html {
    font-size: 62.5%;
}

header {
    height: 71px;
    margin-bottom: 70px;
}

/* Header Details, Logo, Number and Nav Bar */

header hgroup h1, h3, h4 {
    font-weight: normal;
    color: #000;
    line-height:21.6px;
}

header hgroup h1 {
    position: absolute;
    top: 16px;
    left: 14px;
    font-family: Gloria Hallelujah, sans serif;
    font-size: 240%;
}

header hgroup h3, header hgroup h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 180%;
}

header hgroup h3 {
    position: absolute;
    top: 45px;
    left: 32px;
}

header hgroup h4 {
    position: absolute;
    top: 18px;
    right: 14px;
}

nav {
    position: absolute;
    top: 71px;
    width: 100%;
    border-top: solid 5px rgb(234, 255, 201);
}

nav ul {
    width: 100%;
}

nav ul li {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 15px;
    display: inline-block;
    height: 45px;
    width: 50%;
    list-style-type: none;
    text-align: center;
    background-color: #000;
}

nav ul li:first-child {
    display: none;
}

nav ul li:nth-child(2) {
    display: none;
}

nav ul li a {
    font-size: 240%;
    color: #fff;
    text-decoration: none;
}

nav ul li a:active, nav ul li:active {
    /* background-color: white; */
    color: rgb(234, 255, 201);
}

main section.sheepAnimationContainer {
    position: absolute;
    top: 0;
    left: 0; 
    height: 71px;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(244, 250, 255);
    z-index: -1;
}


main section.sheepAnimationContainer img {
    position: absolute;
    top: 47px;
    right: -60px;
    width: 34px;
    height: 24px;
}

@keyframes example {
    from {left:105%;}
    to {left: -10%;}
}

main section.sheepAnimationContainer img#sheepAnimation {
    animation-name: example;
    animation-duration: 15.2s;
}

img.sheepAnimation {
    animation-name: group;
    animation-duration: 14.7s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

img.sheepAnimation1 {
    animation-name: group1;
    animation-delay: 1.1s;
    animation-duration: 15.6s;
    animation-iteration-count: 1;
}
img.sheepAnimation2 {
    animation-delay: 1.5s;
    animation-name: group2;
    animation-duration: 16.2s;
    animation-iteration-count: 1;
}
img.sheepAnimation3 {
    animation-name: group3;
    animation-duration: 17.3s;
    animation-iteration-count: 1;
}

@keyframes group {
    from {left:102%;}
    to {left: -10%;}
}
@keyframes group1 {
    from {left:105%;}
    to {left: -10%;}
}
@keyframes group2 {
    from {left:103%;}
    to {left: -10%;}
}
@keyframes group3 {
    from {left:105%;}
    to {left: -10%;}
}

main section img {
    width: 100%;
    height: auto;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 50%;
    background-color: black;
    border: 5px solid #fff;
    color: white;
    font-size: 250%;
    padding: 2% 0;
}

button:active {
    background-color: white;
    color: red;
}

.menuButtonContainer {
    position: absolute;
    margin-top: 25%;
    width: 100%;
    height: auto;
    text-align: center;
}

section article {
    width: 100%;
    background-color: rgb(244, 250, 255);
    margin-bottom: 5px;
}

section article h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(211, 211, 211);
    font-size: 200%;
    border-bottom: 1px solid rgb(216, 224, 204);
    text-align: left;
    padding: 5px 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-top: 5px;
}

section.aboutUs {
    margin: -5px 0;
}

section.aboutUs article h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 200%;
    border-bottom: 1px solid rgb(216, 216, 216);
    text-align: left;
    padding: 5px 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 12px;
}

section.aboutUs article p:nth-child(3) {
    padding-bottom: 20px;
    /* background-color: red; */
}

section article h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(211, 211, 211);
}

section article p {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 200%;
    max-width: 60%;
    padding: 10px;
    line-height: 25px;
    margin: 0 auto;
}

section.lastSection article {
    float: left;
    background-color: black;
}

section article ul {
    float: left;
    width: 100%;
}

section article li {
    font-size: 190%;
    list-style-type: none;
    padding: 10px 0 5px 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

footer section {
    margin: 25px 0;
}

footer section.policySection ul  {
    display: inline-block;
    width: 50%;
}

footer section.policySection ul li  {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 0;
    padding-left: 15px;
    font-size: 160%;
}

footer section.social ul li a img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin: 0 8px;
}

footer section.social ul   {
    text-align: center;
}

footer section.social ul li  {
    display: inline-block;
}

footer section.termsAndConditionsSection {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}